@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #16161d;
  color: #bad129;
}

::selection {
  background-color: #16161d;
  color: #bad129;
}

hr {
  border-bottom: 2px dashed #8b8b8e;
  border-top: 0;
}

/** Globally set base font size, font family and weight **/
* {
  font-size: 10px;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
}

/** Globally set paragraph and internal links, within <p> tags **/
p {
  color: #16161d;
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 1.6rem;
}

p a {
  border-bottom: 1px dashed #5c5c61;
  color: #16161d;
  font-size: inherit;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

p a:hover {
  background-color: #9de0e8;
}

/** Headings **/
h1.heading__main-green,
h2.heading__main-green,
h3.heading__main-green,
h4.heading__main-green {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #bad129;
  border-bottom: 10px solid #82921d;
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 4.8rem;
  margin-top: 20rem;
  padding: 1.6rem 2.4rem;
  text-transform: uppercase;
}

h1.heading__main-blue,
h2.heading__main-blue,
h3.heading__main-blue,
h4.heading__main-blue {
  background-color: #beeaef;
  border-bottom: 10px solid #588489;
  color: #2c4245;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 2.4rem auto 4.8rem auto;
  padding: 2.4rem;
}

h1.heading__home__card,
h2.heading__home__card,
h3.heading__home__card,
h4.heading__home__card {
  border: none;
  color: #2d2d34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1em;
  margin-bottom: 2.4rem;
  text-transform: uppercase;
  width: 100%;
}

h1.heading__home__card:before, h1.heading__home__card:after,
h2.heading__home__card:before,
h2.heading__home__card:after,
h3.heading__home__card:before,
h3.heading__home__card:after,
h4.heading__home__card:before,
h4.heading__home__card:after {
  font-size: 3.2rem;
  font-weight: 700;
}

h1.heading__home__card:before,
h2.heading__home__card:before,
h3.heading__home__card:before,
h4.heading__home__card:before {
  content: "<";
  padding-right: 0.8rem;
}

h1.heading__home__card:after,
h2.heading__home__card:after,
h3.heading__home__card:after,
h4.heading__home__card:after {
  content: ">";
  padding-left: 0.8rem;
}

h1.heading__home__card .heading__arrows-blue,
h2.heading__home__card .heading__arrows-blue,
h3.heading__home__card .heading__arrows-blue,
h4.heading__home__card .heading__arrows-blue {
  color: #92dce5;
}

h1.heading__home__card .heading_arrows-green,
h2.heading__home__card .heading_arrows-green,
h3.heading__home__card .heading_arrows-green,
h4.heading__home__card .heading_arrows-green {
  color: #bad129;
}

@media (min-width: 600px) {
  h1.heading__main-green,
  h2.heading__main-green,
  h3.heading__main-green,
  h4.heading__main-green {
    margin-top: 12rem;
  }
}

@media (min-width: 768px) {
  h1.heading__main-green,
  h2.heading__main-green,
  h3.heading__main-green,
  h4.heading__main-green {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 3.2rem;
    margin-top: 6rem;
  }
  h1.heading__main-blue,
  h2.heading__main-blue,
  h3.heading__main-blue,
  h4.heading__main-blue {
    font-size: 2.4rem;
    margin: 4.8rem auto 2.4rem auto;
  }
  h1.heading__home__card,
  h2.heading__home__card,
  h3.heading__home__card,
  h4.heading__home__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.4rem;
    font-weight: 700;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    letter-spacing: -0.2rem;
  }
  h1.heading__home__card:before, h1.heading__home__card:after,
  h2.heading__home__card:before,
  h2.heading__home__card:after,
  h3.heading__home__card:before,
  h3.heading__home__card:after,
  h4.heading__home__card:before,
  h4.heading__home__card:after {
    font-size: 2em;
    font-weight: 700;
  }
  h1.heading__home__card:before,
  h2.heading__home__card:before,
  h3.heading__home__card:before,
  h4.heading__home__card:before {
    padding-right: 0.8rem;
  }
  h1.heading__home__card:after,
  h2.heading__home__card:after,
  h3.heading__home__card:after,
  h4.heading__home__card:after {
    padding-left: 0.8rem;
  }
}

@media (min-width: 1080px) {
  h1.heading__home__card,
  h2.heading__home__card,
  h3.heading__home__card,
  h4.heading__home__card,
  h5.heading__home__card,
  h6.heading__home__card {
    font-size: 4rem;
    letter-spacing: 0;
    font-weight: 700;
  }
}

body {
  background-color: #16161d;
  border-bottom: 6px solid #669aa0;
  min-height: 100vh;
  text-align: center;
}

body .container__sw#container__header {
  background: #16161d;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  min-height: 10vh;
  position: absolute;
  width: 100%;
}

body .container__sw#container__content__main {
  background-color: #d8dbe2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2392dce5' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2392dce5'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
  min-height: 70vh;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

body .container__sw#container__content__main .content__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 4.8rem 0;
}

body .container__sw#container__footer {
  background-color: #16161d;
  clip-path: polygon(0% 6vw, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 6vw, 100% 0, 100% 100%, 0% 100%);
  margin-top: -16rem;
  min-height: 20vh;
  padding-top: 8rem;
  position: relative;
}

body .container__sw#container__footer .container__cw {
  padding-bottom: 0;
}

body .container__sw .container__cw {
  margin: auto;
  max-width: 1140px;
  padding-bottom: 3.2rem;
}

/** Start padding-top to account for angled footer **/
@media (min-width: 768px) {
  body .container__sw#container__footer {
    padding-top: 16rem;
  }
}

/** End padding-top to account for angled footer **/
body#home__body .container__sw#container__header {
  background: #16161d;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  padding-bottom: 4.8rem;
  width: 100%;
}

body#home__body .container__sw#container__content__main {
  padding-bottom: 6.4rem;
  padding-top: 48rem;
}

body#contact__body .container__sw#container__header,
body#about__body .container__sw#container__header,
body#portfolio__body .container__sw#container__header {
  padding-bottom: 9.6rem;
}

body#contact__body .container__sw#container__content__main,
body#about__body .container__sw#container__content__main,
body#portfolio__body .container__sw#container__content__main {
  padding-bottom: 12rem;
  padding-top: 20rem;
}

@media (min-width: 1040px) {
  body#home__body .container__sw#container__header {
    background: #16161d;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4w));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  }
}

@media (min-width: 1440px) {
  body#home__body .container__sw#container__header {
    background: #16161d;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2w));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2w));
    padding-bottom: 9.6rem;
  }
  body#home__body .container__sw#container__content__main {
    padding-top: 48rem;
  }
  body#home__body .container__sw#container__footer {
    clip-path: polygon(0% calc(100% -2vw), 100% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 calc(100% -2vw), 100% 0, 100% 100%, 0% 100%);
    padding-top: 16rem;
  }
}

@media (min-width: 1800px) {
  body#home__body .container__sw#container__header {
    padding-bottom: 8.8rem;
  }
  body#home__body .container__sw#container__content__main {
    padding-top: 48rem;
  }
  body#home__body .container__sw#container__footer {
    padding-top: 24rem;
  }
}

header #header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header__logo img {
  height: auto;
  max-width: 100%;
}

header #header__nav {
  padding-top: 2.4rem;
}

header #header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header #header__nav ul li {
  border-right: 1px dashed #2c4245;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

header #header__nav ul li:last-of-type {
  border-right: 0;
}

header #header__nav ul li a {
  color: #e8e8e8;
  font-size: 1.6rem;
  padding: 2rem 0;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

header #header__nav ul li a:hover {
  background-color: #92dce5;
  color: #16161d;
}

header #header__hero-text p {
  color: #e8e8e8;
  font-size: 1.6rem;
  line-height: 6.4rem;
  padding: 1.6rem 0;
}

header #header__hero-text p #header__hero-text__span {
  color: #bad129;
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  header {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "hl hn" "ht ht";
  }
  header > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: hl;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header #header__hero-text {
    background-image: url("../images/carets/hero-carets.png");
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: ht;
    padding: 4.8rem 0;
  }
  header #header__hero-text p {
    border: 0;
    font-size: 2.4rem;
    text-shadow: 2px 2px 0 #0f1617;
  }
  header #header__hero-text p #header__hero-text__span {
    display: block;
    font-size: 4rem;
    letter-spacing: 0.08em;
  }
  header #header__nav {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: hn;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 2.4rem;
  }
  header #header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header #header__nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: none;
  }
  header #header__nav ul li a {
    border-radius: 1rem;
    font-size: 1.6rem;
    margin-left: 1rem;
    padding: 2rem;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    text-transform: initial;
  }
  header #header__nav ul li a#header__cta {
    border: 2px dashed #92dce5;
  }
  header #header__nav ul li a.active-a {
    border-radius: 0;
    color: #92dce5;
  }
  header #header__nav ul li a.active-a:hover {
    border-radius: 0.8rem;
    border: none;
    color: #16161d;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

@media (min-width: 900px) {
  header #header__hero-text p {
    border: 0;
  }
  header #header__hero-text p #header__hero-text__span {
    font-size: 6.4rem;
  }
}

/**********************
  HOME PAGE

  1.0 - .card
    1.1 - .card .card__image
    1.2 - .card .card__text
      1.2.1 - .card .card__text h2
      1.2.2 - .card .card__text .card__cta

  1h.0 - .card:hover
    1h.1 - .card:hover .card__text
      1h.1.1 - .card:hover .card__text h2
      1h.1.2 - .card:hover .card__text p
      1h.1.3 - .card:hover .card__text .card__cta

  1g.0 - .card(g)
    1g.1 - .card(g) .card__image
    1g.2 - .card(g) .card__text
      1g.2.1 - .card(g) .card__text h2
      1g.2.2 - .card(g). card__text .card__cta
      1g.2.2h - .card(g). card__text .card__cta:hover
        1g.2.2h.1 - .card(g) .card__text .card__cta:hover .card__cta__arrows
  
  1gh.0 - .card(g):hover
    1gh.1 - .card(g):hover .card__text
      1gh.1.1 - card(g):hover .card__text .card__cta
        1gh.1.1.1 - card(g):hover .card__text .card__cta .card__cta__arrows

  1b.0 - .card(b)
    1b.1 - .card(b) .card__image
    1b.2 - .card(b). card__text
      1b.2.1 - .card(b) .card__text h2
      1b.2.2 - card(b) .card__text .card__cta
      1b.3h - card(b). card__text .card__cta:hover
        1b.3h.1 - card(b) .card__cta:hover .card__cta__arrows

  1bh.0 - .card(b):hover
    1bh.1 - .card(b):hover .card__text
      1bh.1.1 - .card(b):hover .card__text .card__cta
        1bh.1.1.1 - card(b):hover .card__text .card__cta .card__cta_arrows

**********************/
/* 1.0 */
.card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e8e8e8;
  border: 2px dashed #d0d0d2;
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 4.8rem 0;
  padding: 6.4rem 2.4rem;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  /* 1.1 */
  /* 1.2 */
  /* 1h.0 */
  /* 1g.0 */
  /*1b.0 */
}

.card:last-of-type {
  /** This is applied to push footer down **/
  margin-bottom: 12rem;
}

.card .card__image img {
  border-radius: 1.6rem;
  height: auto;
  margin-bottom: 2.4rem;
  padding: 0.4rem;
  max-width: 100%;
}

.card .card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 1.2.1 */
  /* 1.2.2 */
}

.card .card__text h2 :before,
.card .card__text h2 :after {
  line-height: 1em;
}

.card .card__text .card__cta {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  border-radius: 1.6rem;
  color: #16161d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1em;
  margin-top: 1.6rem;
  padding: 2.4rem 3.2rem;
  text-decoration: none;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.card .card__text .card__cta .card__cta__arrows {
  color: #16161d;
  font-size: 1.8rem;
  line-height: 0.8em;
  padding-left: 0.4rem;
  padding-top: 0.15rem;
}

.card .card__text .card__cta:hover {
  color: #16161d;
}

.card .card__text .card__cta:hover .card__cta__arrows {
  color: #16161d;
  -webkit-transform: translateX(0.8rem);
          transform: translateX(0.8rem);
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.card:hover {
  background-color: #2d2d34;
  -webkit-transition: all ease-in 1s;
  transition: all ease-in 1s;
  /* 1h.1 */
}

.card:hover .card__text {
  /* 1h.1.1 */
  /* 1h.1.2 */
  /* 1h.1.3 */
}

.card:hover .card__text h2 {
  color: #e8e8e8;
}

.card:hover .card__text p {
  color: #e8e8e8;
}

.card:hover .card__text .card__cta {
  color: #16161d;
}

.card:hover .card__text .card__cta:hover {
  color: #16161d;
}

.card:hover .card__text .card__cta:hover .card__cta__arrows {
  color: #16161d;
}

.card:nth-child(odd) {
  /* 1g.1 */
  /* 1g.2 */
  /* 1gh.0 */
}

.card:nth-child(odd) .card__image img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border: 8px solid #bad129;
}

.card:nth-child(odd) .card__text {
  /* 1g.2.1 */
  /* 1g.2.2 */
}

.card:nth-child(odd) .card__text h2:before,
.card:nth-child(odd) .card__text h2:after {
  color: #bad129;
}

.card:nth-child(odd) .card__text .card__cta {
  border: 3px solid #bad129;
  /* 1g.2.2h */
}

.card:nth-child(odd) .card__text .card__cta:hover {
  background-color: #bad129;
  border: 3px solid #5d6915;
}

.card:nth-child(odd):hover {
  border: 2px dashed #bad129;
  /* 1gh.1 */
}

.card:nth-child(odd):hover .card__text {
  /* 1gh.1.1 */
}

.card:nth-child(odd):hover .card__text .card__cta {
  color: #bad129;
}

.card:nth-child(odd):hover .card__text .card__cta .card__cta__arrows {
  color: #bad129;
}

.card:nth-child(odd):hover .card__text .card__cta:hover {
  color: #16161d;
  /* 1gh.1.1.1 */
}

.card:nth-child(odd):hover .card__text .card__cta:hover .card__cta__arrows {
  color: #16161d;
}

.card:nth-child(even) {
  /* 1b.1 */
  /* 1b.2 */
  /* 1bh.0 */
}

.card:nth-child(even) .card__image img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 8px solid #92dce5;
}

.card:nth-child(even) .card__text {
  /* 1b.2.1 */
  /* 1b.2.2 */
}

.card:nth-child(even) .card__text h2:before,
.card:nth-child(even) .card__text h2:after {
  color: #92dce5;
}

.card:nth-child(even) .card__text .card__cta {
  border: 3px solid #92dce5;
  /* 1b.3h */
}

.card:nth-child(even) .card__text .card__cta:hover {
  background-color: #92dce5;
  border-color: #496e73;
  color: #16161d;
  /* 1b.3h.1 */
}

.card:nth-child(even) .card__text .card__cta:hover .card__cta__arrows {
  color: #16161d;
}

.card:nth-child(even):hover {
  border: 2px dashed #92dce5;
  /* 1bh.1 */
}

.card:nth-child(even):hover .card__text {
  /* 1bh.1.1 */
}

.card:nth-child(even):hover .card__text .card__cta {
  color: #92dce5;
}

.card:nth-child(even):hover .card__text .card__cta .card__cta__arrows {
  color: #92dce5;
}

.card:nth-child(even):hover .card__text .card__cta:hover {
  color: #16161d;
  /* 1bh.1.1.1 */
}

.card:nth-child(even):hover .card__text .card__cta:hover .card__cta__arrows {
  color: #16161d;
}

/* @768px > */
@media (min-width: 768px) {
  /* 1.0 */
  .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    padding: 4.8rem;
    /* 1.1 */
    /* 1.2 */
    /* 1g.0 */
    /* 1b.0 */
  }
  .card:first-of-type {
    margin-top: 4rem;
  }
  .card .card__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: ci;
  }
  .card .card__image img {
    margin-bottom: 0;
  }
  .card .card__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: cd;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 0;
    margin-right: 4rem;
    text-align: left;
    /* 1.2.2 */
  }
  .card .card__text .card__cta {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .card:nth-child(odd) {
        grid-template-areas: "ci cd";
    /* 1gh.0 */
    /* 1gh.1 */
  }
  .card:nth-child(odd):hover {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  .card:nth-child(odd) .card__text {
    margin-left: 4rem;
    margin-right: 0;
  }
  .card:nth-child(even) {
        grid-template-areas: "cd ci";
    /* 1bh.0 */
  }
  .card:nth-child(even):hover {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
}

/** End HOME page **/
/** Start ABOUT page **/
#about__content > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about__content > *:last-child {
  border-bottom: none;
}

#about__content > *:not(h1) {
  border-bottom: 2px dashed #b9b9bb;
}

#about__content #about__content__upper {
  padding-bottom: 4rem;
  /* About Page profile photo */
}

#about__content #about__content__upper #photo img {
  border-radius: 50%;
  border: 20px solid #92dce5;
  height: auto;
  max-width: 300px;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#about__content #about__content__upper #intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#about__content #about__content__upper #intro a {
  -webkit-transition: 1s;
  transition: 1s;
}

#about__content .about__content__skills,
#about__content .about__content__learning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.6rem 6.4rem 1.6rem;
}

#about__content .about__content__skills .skills,
#about__content .about__content__learning .skills {
  -webkit-column-gap: 1.6rem;
          column-gap: 1.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 1.6rem;
}

#about__content .about__content__skills .skills .skill,
#about__content .about__content__learning .skills .skill {
  background-color: rgba(22, 22, 29, 0.1);
  border: 5px solid rgba(22, 22, 29, 0.1);
  border-radius: 0.8rem;
  font-size: 1.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2rem;
  padding: 2.4rem;
  text-align: center;
  -webkit-transition: 0.8s ease-in-out all;
  transition: 0.8s ease-in-out all;
}

#about__content .about__content__skills .skills .skill:hover,
#about__content .about__content__learning .skills .skill:hover {
  background-color: rgba(22, 22, 29, 0.9);
  border: 5px solid #bad129;
  color: #e8e8e8;
  margin-bottom: 0.8rem;
  margin-top: -0.8rem;
}

#about__content .about__content__skills .skills .skill:hover p,
#about__content .about__content__learning .skills .skill:hover p {
  color: #e8e8e8;
}

#about__content .about__content__skills .skills .skill:hover p.skill-icon,
#about__content .about__content__learning .skills .skill:hover p.skill-icon {
  color: #bad129;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out;
}

#about__content .about__content__skills .skills .skill:hover p.skill-name,
#about__content .about__content__learning .skills .skill:hover p.skill-name {
  font-weight: 700;
  letter-spacing: 0.3rem;
  visibility: visible;
}

#about__content .about__content__skills .skills .skill p,
#about__content .about__content__learning .skills .skill p {
  font-size: 6.4rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

#about__content .about__content__skills .skills .skill p.skill-name,
#about__content .about__content__learning .skills .skill p.skill-name {
  font-size: 1.6rem;
  visibility: hidden;
}

#about__content #about__content__interests {
  margin-bottom: 6rem;
}

#about__content #about__content__interests > p {
  margin-bottom: 2.4rem;
}

#about__content #about__content__interests #interests {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(125px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 1em;
}

#about__content #about__content__interests #interests .interest {
  background-color: rgba(22, 22, 29, 0.1);
  border: 5px solid rgba(22, 22, 29, 0.1);
  border-radius: 0.8rem;
  color: #45454a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.6rem;
  -webkit-transition: 0.8s ease-in-out all;
  transition: 0.8s ease-in-out all;
}

#about__content #about__content__interests #interests .interest .interest-icon {
  font-size: 4.8rem;
  -webkit-transition: 2s ease-in all;
  transition: 2s ease-in all;
}

#about__content #about__content__interests #interests .interest .interest-name {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  visibility: hidden;
}

#about__content #about__content__interests #interests .interest:hover {
  background-color: rgba(22, 22, 29, 0.9);
  border: 5px solid #bad129;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
  -webkit-transition: 2s all ease-in-out;
  transition: 2s all ease-in-out;
}

#about__content #about__content__interests #interests .interest:hover .interest-icon {
  color: #bad129;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1.5s all ease-in;
  transition: 1.5s all ease-in;
}

#about__content #about__content__interests #interests .interest:hover .interest-name {
  color: #e8e8e8;
  font-weight: 700;
  letter-spacing: 0.1rem;
  visibility: visible;
}

@media (min-width: 768px) {
  #about__content #about__content__upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* About Page profile photo */
  }
  #about__content #about__content__upper #photo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #about__content #about__content__upper #photo img {
    margin-top: -5.6rem;
  }
  #about__content #about__content__upper #intro {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  #about__content #about__content__upper #intro p {
    margin-right: 8rem;
    text-align: left;
  }
  #about__content .about__content__skills .skills,
  #about__content .about__content__learning .skills {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

/** End ABOUT page **/
/** Start PORTFOLIO page **/
#portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4.8rem;
}

#portfolio__content h1 {
  margin-bottom: 6.4rem;
}

#portfolio__content #portfolio__past-work-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study {
  background-color: #e8e8e8;
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin: 0 1.6rem 1.6rem 1.6rem;
  padding: 1.6rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study:last-of-type {
  border-bottom: 0;
  padding-bottom: 4rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study h2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__image {
  padding: 4rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__image figure {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.6rem;
  padding: 0;
  width: 100%;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__image figure img {
  border: 16px solid #92dce5;
  height: auto;
  margin: 0 0 0 0;
  padding: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 100%;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__image figure figcaption {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px solid #b9b9bb;
  color: #45454a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc((1.6rem * (3 / 4)));
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.16rem;
  padding: 0.8rem;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0.8rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details h3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: #45454a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  text-transform: initial;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details h3:before, #portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details h3:after {
  color: #bad129;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details h3:before {
  content: "<";
  padding-right: 0.4rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details h3:after {
  content: ">";
  padding-left: 0.4rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details p {
  font-size: 1.2rem;
  margin-bottom: 3.6rem;
  text-align: center;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details p a {
  border: none;
  color: inherit;
  font-weight: inherit;
  padding: 0.8rem;
}

#portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details p a .portolio__case-study__url {
  font-size: inherit;
  margin-left: 0.4rem;
}

@media (min-width: 768px) {
  #portfolio__content #portfolio__past-work-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.8rem;
  }
  #portfolio__content #portfolio__past-work-collection .portfolio__case-study {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3.2rem;
  }
  #portfolio__content #portfolio__past-work-collection .portfolio__case-study h2 {
    font-size: 1.6rem;
    letter-spacing: 0;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
  }
  #portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__image {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
  }
  #portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 4.8rem;
    padding: 1.6rem;
    text-align: left;
  }
  #portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details h3 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #portfolio__content #portfolio__past-work-collection .portfolio__case-study .portfolio__case-study-details p {
    font-size: 1.4rem;
    line-height: calc(1.4rem * 1.5);
    text-align: left;
  }
}

/** End PORTFOLIO page **/
/** Start CONTACT page **/
#contact__content #contact__methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2.4rem;
}

#contact__content #contact__methods h2 {
  background-color: #92dce5;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

#contact__content #contact__methods #contact__by-email {
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.4rem;
  width: 100%;
}

#contact__content #contact__methods #contact__by-email a {
  border: none;
  border-radius: 1.6rem;
  color: #8b8b8e;
  font-size: 1.6rem;
  text-decoration: none;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#contact__content #contact__methods #contact__by-email a:hover {
  background-color: #16161d;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#contact__content #contact__methods #contact__by-email a:hover .contact__by-email__icon,
#contact__content #contact__methods #contact__by-email a:hover p {
  background-color: transparent;
  color: #bad129;
}

#contact__content #contact__methods #contact__by-email a .contact__by-email__icon {
  color: #8b8b8e;
  font-size: 24rem;
}

#contact__content #contact__methods #contact__by-email a p {
  color: eig-t3;
  margin-top: -8rem;
  margin-bottom: 8rem;
}

#contact__content #contact__methods #contact__by-social {
  border-radius: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

#contact__content #contact__methods #contact__by-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact__content #contact__methods #contact__by-social ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact__content #contact__methods #contact__by-social ul li a {
  border-bottom: 2px dotted #8b8b8e;
  color: #16161d;
  font-size: 1.6rem;
  padding: 1.6rem;
  text-decoration: none;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#contact__content #contact__methods #contact__by-social ul li a:hover {
  background-color: #16161d;
  color: #bad129;
}

#contact__content #contact__methods #contact__by-social ul li a.no-border {
  border: none;
}

#contact__content #contact__methods #contact__by-social ul li a span {
  font-size: inherit;
  margin-left: 0.8rem;
}

@media (min-width: 768px) {
  #contact__content #contact__methods {
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contact__content #contact__methods #contact__by-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1.6rem;
    width: 50%;
  }
  #contact__content #contact__methods #contact__by-email a .contact__by-email__icon {
    color: #8b8b8e;
    font-size: 32rem;
  }
  #contact__content #contact__methods #contact__by-social {
    margin-left: 4rem;
    width: 50%;
  }
  #contact__content #contact__methods #contact__by-social ul {
    margin-top: 8rem;
  }
}

footer {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "fi" "fl" "fc";
  padding: 0 0 0.8rem 0;
}

footer > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer__social-icons {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fi;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 3.2rem;
}

footer #footer__social-icons a {
  border-radius: 50%;
  color: #bad129;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.2rem;
  padding: 1.6rem;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

footer #footer__social-icons a:hover {
  background-color: #bad129;
  color: #16161d;
}

footer #footer__logo {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fl;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #footer__logo img {
  margin-bottom: -0.8rem;
}

footer #footer__copyright {
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0.8rem;
}

footer #footer__copyright p {
  color: #5c5c61;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=mg.css.map */