@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Source+Sans+Pro:wght@200;400;700&display=swap");
:root {
  /** Colours **/
  --clr-eigengrau: hsla(240, 14%, 10%, 1);
  --clr-eigengrau-alt: hsla(240, 14%, 15%, 1);
  --clr-grey-very-light: hsla(0, 0%, 87%, 1);
  --clr-goldenrod: hsla(43, 74%, 49%, 1);
  --clr-goldenrod-dark: hsla(43, 74%, 49%, 0.5);
  --clr-white: hsla(0, 0%, 100%, 1);
  /** Fonts **/
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: Montserrat, sans-serif;
  --fs-initial: 10px;
  /** Debugging tools **/
  --debug-red: 1px solid red;
  --debug-orange: 1px solid orange;
  --debug-green: 1px solid green;
}

.debug {
  border: 1px solid red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-eigengrau);
  color: var(--clr-grey-very-light);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-secondary);
  font-weight: 400;
  justify-content: center;
}

* {
  font-family: var(--ff-secondary);
}

h1 {
  align-self: center;
  border-bottom: 1px solid var(--clr-goldenrod-dark);
  color: var(--clr-goldenrod);
  display: flex;
  font-size: clamp(0.84rem, 2vw, 1.44rem);
  font-weight: 400;
  letter-spacing: 0.64vw;
  margin-bottom: 6.4vh;
  margin-top: 6.4vh;
  padding: 1.2vh 0;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
@media (min-width: 600px) {
  h1 {
    padding-bottom: 1rem;
  }
}
@media (min-width: 900px) {
  h1 {
    align-self: end;
    border-bottom: 0;
    display: block;
    margin-bottom: 6.4vh;
    padding-top: 1.6vh;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  h1 {
    background-color: transparent;
    color: var(--clr-goldenrod);
    margin-bottom: 9.6vh;
    padding-right: 0;
  }
}

h2 {
  font-size: clamp(0.84rem, 2vw, 1rem);
  font-weight: 300;
  margin-bottom: 0.32rem;
  padding: 0;
  text-align: left;
  text-transform: lowercase;
}
@media (min-width: 900px) {
  h2 {
    margin-bottom: 0.48rem;
    text-align: center;
  }
}
h2 svg {
  color: var(--clr-goldenrod);
  margin-right: 0.25rem;
}
@media (min-width: 900px) {
  h2 {
    text-align: left;
  }
}

h3 {
  color: var(--clr-goldenrod);
  display: flex;
  margin-bottom: 2vh;
  font-size: 0.92rem;
  text-align: left;
}

p {
  font-size: clamp(0.84rem, 16px, 1.2rem);
  line-height: 1.2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
  max-width: 100%;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}
@media (min-width: 900px) {
  .container {
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header main main" "footer footer footer";
  }
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid var(--clr-eigengrau-alt);
  grid-area: header;
  justify-content: space-around;
  padding-bottom: 0.6vh;
  padding-top: 0.6vh;
  width: 100%;
}
@media (min-width: 900px) {
  header {
    border-bottom: none;
    height: 100%;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    padding-bottom: 0;
    top: 0;
    width: 200px;
  }
}
@media (min-width: 1200px) {
  header {
    width: 300px;
  }
}

/** Logo **/
.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 0 0 0;
}
@media (min-width: 900px) {
  .logo {
    padding: 10.4vh 0 4rem 0;
  }
}
.logo a {
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 900px) {
  .logo a {
    letter-spacing: 0.32vw;
  }
}
.logo a img {
  width: 72px;
}
@media (min-width: 900px) {
  .logo a img {
    width: 84px;
  }
}
@media (min-width: 1200px) {
  .logo a img {
    width: 100px;
  }
}
@media (min-width: 1500px) {
  .logo a img {
    width: 100px;
  }
}

/** Navigation **/
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenlysas;
  padding: 1rem 0 0 0;
}
@media (min-width: 900px) {
  .main-nav {
    height: 100%;
    padding: 0;
  }
}
.main-nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
@media (min-width: 900px) {
  .main-nav ul {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
.main-nav ul li {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
@media (min-width: 900px) {
  .main-nav ul li {
    height: 100%;
    width: 100%;
  }
}
.main-nav ul li a {
  align-items: center;
  background-color: transparent;
  border-right: 1px solid var(--clr-goldenrod);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: clamp(0.72rem, 2vw, 0.92rem);
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.08rem;
  padding: 1.2rem 0.64rem;
  text-decoration: none;
  text-transform: lowercase;
}
.main-nav ul li a .goldenrod {
  color: var(--clr-goldenrod);
  font-size: clamp(0.84rem, 2.4vw, 1rem);
  margin-bottom: 0.25rem;
}
.main-nav ul li a:last-of-type {
  border-right: 0;
}
@media (min-width: 600px) {
  .main-nav ul li a:hover {
    background-color: var(--clr-eigengrau-alt);
  }
}
@media (min-width: 900px) {
  .main-nav ul li a {
    border-left: 10px solid transparent;
    border-top: 1px solid var(--clr-eigengrau-alt);
    border-right: 0;
    height: 100%;
    flex: 1 1 0px;
    padding: clamp(1rem, 5vh, 4rem);
    transition-property: border-left;
    transition-duration: 1s;
    width: 100%;
  }
  .main-nav ul li a:hover {
    border-left: 10px solid var(--clr-goldenrod);
  }
}

.contact-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem 0;
}
.contact-btn a {
  text-decoration: none;
}
.contact-btn a button {
  background: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px dotted var(--clr-goldenrod);
  color: var(--clr-grey-very-light);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.12rem;
  padding-bottom: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 2vh;
  transition-property: padding-left, padding-right;
  transition-duration: 1s;
  text-transform: lowercase;
}
.contact-btn a button:hover {
  background-color: #dedede;
  border-bottom: 2px solid #dedede;
  color: #16161d;
  padding-left: 8vh;
  padding-right: 8vh;
}

main {
  background-color: var(--clr-eigengrau);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23242431' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  grid-area: main;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 0 5vh 0;
}
@media (min-width: 900px) {
  main {
    margin-left: 200px;
    width: calc(100vw - 200px);
  }
}
@media (min-width: 1200px) {
  main {
    margin-left: 300px;
    width: calc(100vw - 300px);
  }
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 900px) {
  .main-content {
    padding: 8.4vh 4vh 0 4vh;
  }
}

.main-inner {
  padding: 0 2vw;
}
@media (min-width: 600px) {
  .main-inner {
    padding: 0 5vw;
  }
}
@media (min-width: 900px) {
  .main-inner {
    padding: 0 10vw;
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .main-inner {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .main-inner {
    max-width: clamp(1200px, 80vw, 2000px);
  }
}

footer {
  grid-area: footer;
  padding: 1.2rem 0;
  width: 100%;
}
footer p {
  font-size: 0.64rem;
}
footer p a {
  color: var(--clr-goldenrod);
}

.my-work {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (min-width: 900px) {
  .my-work {
    justify-content: flex-start;
  }
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: 100%;
}
@media (min-width: 600px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    padding: 1.2rem 0 2.4rem 0;
  }
}
@media (min-width: 1200px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    max-width: 1200px;
  }
}
.projects .project {
  margin-bottom: 3.2rem;
}
.projects .project .project-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
}
@media (min-width: 600px) {
  .projects .project .project-inner {
    padding-left: clamp(0.8rem, 2vw, 1.2rem);
    padding-right: clamp(0.8rem, 2vw, 1.2rem);
  }
}
@media (min-width: 900px) {
  .projects .project .project-inner picture {
    border-bottom: 3px sold var(--clr-goldenrod-dark);
    margin-bottom: 0;
  }
}
.projects .project .project-inner picture img {
  border: 1px solid var(--clr-goldenrod-dark);
  border-radius: 0.6rem;
  display: block;
  opacity: 0.8;
  transition: 0.4s ease;
}
@media (min-width: 900px) {
  .projects .project .project-inner picture img {
    border: 5px solid var(--clr-eigengrau);
  }
  .projects .project .project-inner picture img:hover {
    border-color: var(--clr-goldenrod);
  }
}
.projects .project .project-inner picture img:hover {
  opacity: 1;
}
.projects .project .project-inner .project-name p {
  color: var(--clr-goldenrod-dark);
  letter-spacing: 0.25rem;
  text-align: center;
  text-transform: lowercase;
}
.projects .project .project-inner .project-links {
  display: flex;
  justify-content: space-evenly;
}
.projects .project .project-inner a {
  align-self: center;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  color: var(--clr-grey-very-light);
  display: block;
  font-size: 0.84rem;
  font-weight: 500;
  padding: 2rem 0;
  text-decoration: none;
  text-align: center;
  transition: background-color 1s, border-color 1s, color 1s;
}
.projects .project .project-inner a:hover {
  background-color: var(--clr-eigengrau);
  border-color: var(--clr-eigengrau);
  color: white;
}

.project-inner__image-container {
  position: relative;
  max-width: 1000px;
  width: 100%;
}

.project-inner__image-container__overlay {
  background: black;
  background: rgba(0, 0, 0, 0.8);
  /* Black see-through */
  border-bottom-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  bottom: 0;
  color: var(--clr-grey-very-light);
  font-size: clamp(0.72rem, 2vw, 1.2rem);
  letter-spacing: 0.08rem;
  opacity: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  transition: 0.5s ease;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.project-inner__image-container:hover .project-inner__image-container__overlay {
  opacity: 1;
}

.my-code {
  align-content: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.my-code p {
  text-align: left;
}
.my-code pre {
  margin: 0;
  padding: 0 2vw;
  word-break: break-word;
  word-wrap: break-word;
}
.my-code code {
  background-color: var(--clr-eigengrau);
  border-radius: 0.4rem;
  display: block;
  font-size: clamp(0.64rem, 2vw, 1.2rem);
  margin-top: 0;
  margin-bottom: 2.4rem;
  max-width: calc(100vw - 10px);
  overflow: auto;
  padding: 2vh 0.3vw;
  text-align: left;
}
@media (min-width: 900px) {
  .my-code code {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .my-code code {
    font-size: 0.92rem;
  }
}

.code-snippet {
  align-self: start;
  align-items: center;
  background-color: var(--clr-eigengrau-alt);
  border: 2px solid var(--clr-eigengrau-alt);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1rem;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .code-snippet {
    padding: 1rem;
    width: 100%;
  }
}

.my-code-language {
  margin-bottom: 5vh;
}

.my-code-language-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.accordion {
  background-color: var(--clr-eigengrau-alt);
  border: none;
  color: var(--clr-goldenrod);
  cursor: pointer;
  font-size: 0.875rem;
  letter-spacing: 2px;
  outline: none;
  padding: 1rem;
  text-align: left;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.active,
.accordion:hover {
  background-color: var(--clr-eigengrau-alt);
  color: var(--clr-goldenrod);
}

.accordion::after {
  content: "+";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 1rem;
}

.active::after {
  content: "−";
}

.panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  padding: 0 2vw;
  transition: max-height 0.5s ease-out;
  width: 100%;
}

.my-resources {
  align-content: start;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 100%;
}
.my-resources .resources {
  display: flex;
  gap: clamp(0.84rem, 4vw, 4rem);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 600px) {
  .my-resources .resources {
    gap: clamp(1rem, 8vw, 4rem);
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 900px) {
  .my-resources .resources {
    display: grid;
    gap: clamp(1rem, 2vw, 1.6rem);
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1200px) {
  .my-resources .resources {
    align-content: center;
    justify-content: space-evenly;
    gap: clamp(2rem, 5vw, 3rem);
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

.resource {
  align-items: center;
  justify-content: center;
  background-color: var(--clr-eigengrau);
  border: 2px solid var(--clr-eigengrau-alt);
  border-radius: 0.6rem;
  display: flex;
  flex: 1 1 0px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.92rem;
  min-width: 120px;
  text-align: center;
  width: clamp(150px, 12vw, 300px);
}
.resource:hover img {
  filter: none;
}
.resource > * {
  flex-basis: 1 1 0px;
  width: 100%;
}
@media (min-width: 600px) {
  .resource {
    margin-bottom: 0;
    min-width: 180px;
    width: clamp(150px, 12vw, 300px);
  }
}
@media (min-width: 900px) {
  .resource {
    margin-bottom: 0;
    min-width: 240px;
    width: clamp(160px, 12vw, 300px);
  }
}
@media (min-width: 1200px) {
  .resource {
    margin-bottom: 0;
    min-width: 270px;
    width: clamp(200px, 12vw, 300px);
  }
}
.resource a {
  border-radius: 0.6rem;
  color: var(--clr-grey-very-light);
  display: flex;
  height: 100%;
  flex-direction: column;
  text-decoration: none;
  transition: background-color 0.5s ease;
  width: 100%;
}
.resource a h2 {
  color: var(--grey-very-light);
  padding: 2rem 0;
}
.resource a:hover {
  background-color: var(--clr-eigengrau-alt);
}
.resource a:hover h2 {
  border-color: transparent;
  color: var(--grey-very-light);
}
.resource .resource__title h2 {
  border-bottom: 3px solid var(--clr-eigengrau-alt);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  font-weight: 400;
  margin-bottom: 0;
  padding: 0.72rem 0;
  text-align: center;
}
.resource .resource__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}
.resource .resource__body p {
  text-align: center;
}
.resource .resource__body img {
  display: block;
  filter: grayscale(100%);
  width: clamp(60px, 8vw, 200px);
  transition: filter 0.4s ease, margin-top 0.4s ease;
}
.resource .resource__body img:hover {
  filter: none;
  margin-top: -10px;
}
.resource .resource__body img.img__rounded {
  border-radius: 0.6rem;
}
@media (max-width: 600px) {
  .resource .resource__body img {
    filter: none;
    max-width: 60px;
  }
}
.resource .resource__footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
