@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Source+Sans+Pro:wght@200;400;700&display=swap");
:root {
  /** Colours **/
  --clr-eigengrau: hsla(240, 14%, 10%, 1);
  --clr-eigengrau-alt: hsla(240, 14%, 15%, 1);
  --clr-grey-very-light: hsla(0, 0%, 87%, 1);
  --clr-goldenrod: hsla(43, 74%, 49%, 1);
  --clr-goldenrod-dark: hsla(43, 74%, 49%, 0.5);
  --clr-white: hsla(0, 0%, 100%, 1);
  /** Fonts **/
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: Montserrat, sans-serif;
  --fs-initial: 10px;
  /** Debugging tools **/
  --debug-red: 4px solid red;
  --debug-orange: 4px solid orange;
  --debug-green: 4px solid green;
  --hello: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #16161d;
  color: var(--clr-grey-very-light);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  font-weight: 400;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
}
@media (min-width: 600px) {
  h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: left;
  }
}

p,
a,
button {
  font-family: var(--ff-secondary);
}

h1 {
  border-bottom: 3px solid var(--clr-eigengrau-alt);
  color: var(--clr-goldenrod);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.64vw;
  padding-bottom: 1.6rem;
  padding-top: 5.6rem;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  h1 {
    padding-bottom: 0.4rem;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 1.25rem;
    padding-top: 0.8rem;
  }
}
h1 .project-name {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  h1 .project-name {
    font-size: 1.4rem;
  }
}

h2 {
  border-bottom: 1px solid var(--clr-eigengrau-alt);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  padding: 1rem 0 0.6rem 0;
}
h2:first-of-type {
  margin-top: 3.2rem;
}

p {
  font-size: 0.84rem;
  line-height: 1.2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  text-align: center;
  width: 100%;
}
@media (min-width: 900px) {
  .container {
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header main" "footer footer";
  }
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
}

.main-inner {
  padding: 0 10vw;
}

header {
  border-bottom: 2px solid #232323;
  grid-area: header;
  justify-content: space-around;
  padding-bottom: 0.6vh;
  padding-top: 0.6vh;
  width: 100%;
}
@media (min-width: 900px) {
  header {
    height: 100%;
    justify-content: flex-start;
    left: 0;
    padding-bottom: 5vh;
    padding-top: 5vh;
    position: fixed;
    top: 0;
    width: 300px;
  }
}

/** Logo **/
.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem 0;
}
@media (min-width: 900px) {
  .logo {
    padding: 2.4rem 0 4rem 0;
  }
}
.logo a {
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 900px) {
  .logo a {
    letter-spacing: 0.32vw;
  }
}
.logo a img {
  width: 100px;
}

/** Navigation **/
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
}
.main-nav ul {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 900px) {
  .main-nav ul {
    flex-direction: column;
    width: 100%;
  }
}
.main-nav ul li {
  align-items: center;
  display: flex;
  list-style-type: none;
}
@media (min-width: 900px) {
  .main-nav ul li {
    width: 100%;
  }
}
.main-nav ul li a {
  align-items: center;
  border-right: 1px solid var(--clr-goldenrod);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.72rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
  padding: 0.8rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}
.main-nav ul li a .goldenrod {
  color: var(--clr-goldenrod);
  font-size: 1rem;
}
.main-nav ul li a:hover {
  background-color: var(--clr-eigengrau);
}
.main-nav ul li a:last-of-type {
  border-right: 0;
}
@media (min-width: 600px) {
  .main-nav ul li a {
    font-size: 1rem;
  }
  .main-nav ul li a:hover {
    background-color: #16161d;
  }
}
@media (min-width: 900px) {
  .main-nav ul li a {
    border-left: 10px solid transparent;
    border-right: 0;
    padding: 2rem;
    transition-property: border-left;
    transition-duration: 1s;
    width: 100%;
  }
  .main-nav ul li a:hover {
    border-left: 10px solid var(--clr-goldenrod);
  }
}
.main-nav ul li a > * {
  margin-bottom: 0.4rem;
}

.contact-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem 0;
}
.contact-btn a {
  text-decoration: none;
}
.contact-btn a button {
  background: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px dotted var(--clr-goldenrod);
  color: var(--clr-grey-very-light);
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.12rem;
  padding-bottom: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 2vh;
  transition-property: padding-left, padding-right;
  transition-duration: 1s;
  text-transform: lowercase;
}
.contact-btn a button:hover {
  background-color: #dedede;
  border-bottom: 2px solid #dedede;
  color: #16161d;
  padding-left: 8vh;
  padding-right: 8vh;
}

main {
  background-color: var(--clr-eigengrau);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23242431' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  grid-area: main;
  padding: 0;
}
@media (min-width: 900px) {
  main {
    margin-left: 300px;
  }
}

.main-inner {
  padding: 0 10vw;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .main-content {
    padding-top: 8.4vh;
  }
}

.my-work {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 900px) {
  .my-work {
    justify-content: flex-start;
  }
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 3.6rem 0 0 0;
  width: 100%;
}
@media (min-width: 900px) {
  .projects {
    padding: 1.2rem 0 2.4rem 0;
    grid-template-columns: repeat(1, auto);
  }
}
@media (min-width: 1200px) {
  .projects {
    max-width: 1200px;
  }
}
@media (min-width: 1600px) {
  .projects {
    max-width: 1200px;
  }
}
.projects:nth-child(even) {
  background-color: var(--clr-eigengrau-alt);
}
.projects .project-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  padding: 0 1.2vw 1.2vw 1.2vw;
}
@media (min-width: 900px) {
  .projects .project-inner picture {
    padding: 2.4vw;
  }
}
@media (min-width: 900px) {
  .projects .project-inner picture {
    padding: 2.4vw 4.8vw 0.8vw 4.8vw;
  }
}
.projects .project-inner picture img {
  border: 1px solid var(--clr-eigengrau);
  height: auto;
  max-width: 100%;
  margin-bottom: 1.2rem;
}
.projects .project-inner .tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
  padding-bottom: 1.2rem;
  text-transform: lowercase;
}
.projects .project-inner .tags .tag {
  background-color: var(--clr-eigengrau);
  border-radius: 0.4rem;
  font-size: 0.72rem;
  letter-spacing: 0.08rem;
  padding: 0.4rem;
}
@media (min-width: 900px) {
  .projects .project-inner .tags .tag {
    border: 2px solid var(--clr-eigengrau-alt);
    padding: 0.6rem 1rem;
  }
}
.projects .project-inner a {
  align-self: center;
  border: 1px solid var(--clr-goldenrod-dark);
  border-radius: 0.4vh;
  color: var(--clr-goldenrod);
  display: flex;
  font-size: 0.84rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  transition: all 1s;
}
.projects .project-inner a:hover {
  background-color: var(--clr-goldenrod);
  border-color: var(--clr-eigengrau);
  color: var(--clr-eigengrau);
}

.my-code {
  padding: 0 12vw;
}
.my-code p {
  text-align: left;
}
.my-code code {
  background-color: var(--clr-eigengrau-alt);
  border-radius: 0.4rem;
  display: block;
  margin-top: 1.2vh;
  margin-bottom: 2.4rem;
  padding: 2vh 3.2vw;
  text-align: left;
}

footer {
  border-top: 2px solid #232323;
  grid-area: footer;
  padding: 1.2rem 0;
  width: 100%;
}
footer p {
  font-size: 0.64rem;
}
footer p a {
  color: var(--clr-goldenrod);
}

code {
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
