* {
  font-family: var(--ff-secondary);
}

// h1 tags
h1 {
  align-self: center;
  border-bottom: 1px solid var(--clr-goldenrod-dark);
  color: var(--clr-goldenrod);
  display: flex;
  font-size: clamp(0.84rem, 2vw, 1.44rem);
  font-weight: 400;
  letter-spacing: 0.64vw;
  margin-bottom: 6.4vh;
  margin-top: 6.4vh;
  padding: 1.2vh 0;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  @media (min-width: 600px) {
    padding-bottom: 1rem;
  }
  @media (min-width: 900px) {
    align-self: end;
    border-bottom: 0;
    display: block;
    margin-bottom: 6.4vh;
    padding-top: 1.6vh;
    text-align: right;
  }
  @media (min-width: 1200px) {
    background-color: transparent;
    color: var(--clr-goldenrod);
    margin-bottom: 9.6vh;
    padding-right: 0;
  }
}

// h2 tags
h2 {
  //border-bottom: 2px solid var(--clr-eigengrau-alt);
  font-size: clamp(0.84rem, 2vw, 1rem);
  font-weight: 300;
  margin-bottom: 0.32rem;
  padding: 0;
  text-align: left;
  text-transform: lowercase;
  @media (min-width: 900px) {
    margin-bottom: 0.48rem;
    text-align: center;
  }
  svg {
    color: var(--clr-goldenrod);
    margin-right: .25rem;
  }
  @media (min-width: 900px) {
    text-align: left;
  }
}

// h3 tags

h3 {
  color: var(--clr-goldenrod);
  display: flex;
  margin-bottom: 2vh;
  font-size: 0.92rem;
  text-align: left;
}

// p tags
p {
  font-size: clamp(0.84rem, 16px, 1.2rem);
  line-height: 1.2rem;
  padding-bottom: 1rem;
  text-align: center;
}
