* {
  font-family: var(--ff-secondary);
}

// h1 tags
h1 {
  color: var(--clr-goldenrod);
  font-size: clamp(1rem, 2vw, 1.44rem);
  font-weight: 400;
  letter-spacing: 0.64vw;
  padding-bottom: 1.6vh;
  padding-top: 4vh;
  text-align: center;
  text-transform: lowercase;
  display: block;
  width: 100%;
  @media (min-width: 600px) {
    padding-bottom: 0.4rem;
  }
  @media (min-width: 900px) {
    padding-top: 4vh;
    margin-bottom: 6.4vh;
    text-align: right;
  }
}

// h2 tags
h2 {
  font-weight: 400;
  margin-bottom: 1.6rem;
  padding: 0 0 0 0.6rem;
  text-align: center;
  /*   &:first-of-type {
    margin-top: 3.2rem;
  } */
  svg {
    color: var(--clr-goldenrod);
  }
  @media(min-width:900px) {
    text-align: left;
  }
}

// h3 tags

h3 {
  color: var(--clr-goldenrod);
  display: flex;
  margin-bottom: 2vh;
  font-size: 0.92rem;
  text-align: left;
}

// p tags
p {
  font-size: 0.84rem;
  line-height: 1.2rem;
  padding-bottom: 1rem;
  text-align: center;
}
