/** Start ABOUT page **/
#about__content {
  > * {
    display: flex;
    flex-direction: column;
    &:last-child {
      border-bottom: none;
    }
    &:not(h1) {
      border-bottom: 2px dashed $eig-t7;
    }
  }

  #about__content__upper {
    padding-bottom: 4rem;
    /* About Page profile photo */
    #photo {
      img {
        border-radius: 50%;
        border: 20px solid $blue-b;
        height: auto;
        max-width: 300px;
        margin-bottom: 2.4rem;
        margin-top: 2.4rem;
        transform: scaleX(-1);
      }
    }
    #intro {
      display: flex;
      flex-direction: column;
      order: 1;
      a {
        transition: 1s;
      }
    }
  }
  .about__content__skills,
  .about__content__learning {
    display: flex;
    flex-direction: column;
    padding: 0 1.6rem 6.4rem 1.6rem;
    .skills {
      column-gap: 1.6rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 1.6rem;
      .skill {
        background-color: hsla(240, 14%, 10%, 0.1);
        border: 5px solid hsla(240, 14%, 10%, 0.1);
        border-radius: 0.8rem;
        font-size: 1.2rem;
        justify-content: center;
        letter-spacing: 0.2rem;
        padding: 2.4rem;
        text-align: center;
        transition: 0.8s ease-in-out all;
        &:hover {
          background-color: hsla(240, 14%, 10%, 0.9);
          border: 5px solid $green-b;
          color: $eig-t9;
          margin-bottom: 0.8rem;
          margin-top: -0.8rem;
          p {
            color: $eig-t9;
            &.skill-icon {
              color: $green-b;
              transform: rotate(360deg);
              transition: 2s all ease-in-out;
            }
            &.skill-name {
              font-weight: 700;
              letter-spacing: 0.3rem;
              visibility: visible;
            }
          }
        }
        p {
          font-size: 6.4rem;
          letter-spacing: 0.1rem;
          font-weight: 300;
          margin: 0;
          text-transform: uppercase;
          &.skill-name {
            font-size: 1.6rem;
            visibility: hidden;
          }
        }
      }
    }
  }
  #about__content__interests {
    margin-bottom: 6rem;
    > p {
      margin-bottom: 2.4rem;
    }
    #interests {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
      grid-gap: 1em;
      .interest {
        background-color: hsla(240, 14%, 10%, 0.1);
        border: 5px solid hsla(240, 14%, 10%, 0.1);
        border-radius: 0.8rem;
        color: $eig-t2;
        display: flex;
        flex-direction: column;
        padding-top: 1.6rem;
        transition: 0.8s ease-in-out all;
        .interest-icon {
          font-size: 4.8rem;
          transition: 2s ease-in all;
        }
        .interest-name {
          font-size: 1.6rem;
          font-weight: 300;
          text-transform: uppercase;
          visibility: hidden;
        }

        &:hover {
          background-color: hsla(240, 14%, 10%, 0.9);
          border: 5px solid $green-b;
          margin-top: -0.8rem;
          margin-bottom: 0.8rem;
          transition: 2s all ease-in-out;
          .interest-icon {
            color: $green-b;
            transform: rotate(360deg);
            transition: 1.5s all ease-in;
          }
          .interest-name {
            color: $eig-t9;
            font-weight: 700;
            letter-spacing: 0.1rem;
            visibility: visible;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  #about__content {
    #about__content__upper {
      display: flex;
      flex-direction: row;
      /* About Page profile photo */
      #photo {
        order: 1;
        img {
          margin-top: -5.6rem;
        }
      }
      #intro {
        order: 0;
        p {
          margin-right: 8rem;
          text-align: left;
        }
      }
    }
    .about__content__skills,
    .about__content__learning {
      .skills {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
      }
    }
  }
}
/** End ABOUT page **/
