$eig: #16161d;
$eig-t1: #2d2d34;
$eig-t2: #45454a;
$eig-t3: #5c5c61;
$eig-t4: #737377;
$eig-t5: #8b8b8e;
$eig-t6: #a2a2a5;
$eig-t7: #b9b9bb;
$eig-t8: #d0d0d2;
$eig-t9: #e8e8e8;

$blue-b: #92dce5;
$blue-s1: #83c6ce;
$blue-s2: #75b0b7;
$blue-s3: #669aa0;
$blue-s4: #588489;
$blue-s5: #496e73;
$blue-s6: #3a585c;
$blue-s7: #2c4245;
$blue-s8: #1d2c2e;
$blue-s9: #0f1617;
$blue-t1: #9de0e8;
$blue-t2: #a8e3ea;
$blue-t3: #b3e7ed;
$blue-t4: #beeaef;
$blue-t5: #c9eef2;
$blue-t6: #d3f1f5;
$blue-t7: #def5f7;
$blue-t8: #e9f8fa;
$blue-t9: #f4fcfc;

$green-b: #bad129;
$green-s1: #a7bc25;
$green-s2: #95a721;
$green-s3: #82921d;
$green-s4: #707d19;
$green-s5: #5d6915;
$green-s6: #4a5410;
$green-s7: #383f0c;
$green-s8: #252a08;
$green-s9: #131504;
$green-t1: #c1d63e;
$green-t2: #c8da54;
$green-t3: #cfdf69;
$green-t4: #181816;
$green-t5: #dde894;
$green-t6: #e3eda9;
$green-t7: #eaf1bf;
$green-t8: #f1f6d4;
$green-t9: #f8faea;

$bg-grey: #d8dbe2;
