/** Start CONTACT page **/
#contact__content {
  #contact__methods {
    display: flex;
    flex-direction: column;
    padding-top: 2.4rem;
    h2 {
      background-color: $blue-b;
      font-size: 1.6rem;
      margin-bottom: 2.4rem;
    }
    #contact__by-email {
      border-radius: 1.6rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2.4rem;
      width: 100%;
      a {
        border: none;
        border-radius: 1.6rem;
        color: $eig-t5;
        font-size: 1.6rem;
        text-decoration: none;
        transition: 1s all ease-in-out;
        &:hover {
          background-color: $eig;
          transition: 1s all ease-in-out;
          .contact__by-email__icon,
          p {
            background-color: transparent;
            color: $green-b;
          }
        }
        .contact__by-email__icon {
          color: $eig-t5;
          font-size: 24rem;
        }
        p {
          color: eig-t3;
          margin-top: -8rem;
          margin-bottom: 8rem;
        }
      }
    }
    #contact__by-social {
      border-radius: 1.6rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      ul {
        display: flex;
        flex-direction: column;
        li {
          display: flex;
          flex-direction: column;
          a {
            border-bottom: 2px dotted $eig-t5;
            color: $eig;
            font-size: 1.6rem;
            padding: 1.6rem;
            text-decoration: none;
            transition: 1s all ease-in-out;
            &:hover {
              background-color: $eig;
              color: $green-b;
            }
            &.no-border {
              border: none;
            }
            span {
              font-size: inherit;
              margin-left: 0.8rem;
            }
            p {
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #contact__content {
    #contact__methods {
      align-content: stretch;
      flex-direction: row;
      #contact__by-email {
        display: flex;
        margin-right: 1.6rem;
        width: 50%;
        a {
          .contact__by-email__icon {
            color: $eig-t5;
            font-size: 32rem;
          }
        }
      }
      #contact__by-social {
        margin-left: 4rem;
        width: 50%;
        ul {
          margin-top: 8rem;
        }
      }
    }
  }
}
