footer {
  display: grid;
  grid-template-areas:
    "fi"
    "fl"
    "fc";
  padding: 0 0 0.8rem 0;
  > * {
    display: flex;
  }
  #footer__social-icons {
    align-content: center;
    grid-area: fi;
    justify-content: space-around;
    padding-bottom: 3.2rem;
    a {
      border-radius: 50%;
      color: $green-b;
      display: flex;
      font-size: 3.2rem;
      padding: 1.6rem;
      transition: 1s ease-in-out;
      &:hover {
        background-color: $green-b;
        color: $eig;
      }
    }
  }
  #footer__logo {
    align-content: center;
    grid-area: fl;
    justify-content: center;
    img {
      margin-bottom: -0.8rem;
    }
  }
  #footer__copyright {
    align-content: center;
    grid-area: fc;
    justify-content: center;
    padding-top: 0.8rem;
    p {
      color: $eig-t3;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
  }
}
