/** Start HOME page **/

/*
.no-js .card-image#card_website-design_image {
  background: url(../images/home-page-cards/website-design.png);
}
.no-js .card-image#card_website-development_image {
  background: url(../images/home-page-cards/website-development.png);
}
.no-js .card-image#card_mobile-app-development_image {
  background: url(../images/home-page-cards/mobile-app-development.png);
}
*/

/** Start Home page card **/
.card {
  align-items: center;
  background-color: $eig-t9;
  border: 2px dashed $eig-t8;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  flex: 1 2 0;
  margin: 0 3.2rem 4.8rem 3.2rem;
  padding: 2.4rem;
  transition: 1s all ease;
  &:first-of-type {
    margin-top: 4rem;
  }
  &:last-of-type {
    margin-bottom: 12rem;
  }
  /** Start :hover state for Home page card **/
  &:hover {
    background-color: $eig-t1;
    border: 2px dashed $green-b;
    transition: all ease-in 1s;
    .card_details {
      h2 {
        color: $eig-t9;
      }
      p {
        color: $eig-t9;
      }
      .card_cta {
        color: $green-b;
      }
    }
  }
  /** End :hover state for Home page card **/
  .card_image {
    img {
      align-self: flex-start;
      border: 8px solid $green-b;
      border-radius: 1.6rem;
      display: flex;
      flex-grow: 1;
      height: auto;
      max-height: 250px;
      max-width: 100%;
      margin-bottom: 2.4rem;
      padding: 0.8rem;
      transition: 500ms ease-in-out;
    }
  }
  /** Start card_details formatting **/
  .card_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /** Start formatting of card link **/
    .card_cta {
      align-self: center;
      align-content: center;
      background-color: transparent;
      border: 3px solid $green-b;
      border-radius: 1.6rem;
      color: $eig;
      display: flex;
      font-size: 1.6rem;
      justify-content: center;
      line-height: 1em;
      margin-top: 1.6rem;
      padding: 2.4rem 3.2rem;
      text-decoration: none;
      transition: 1s all ease-in-out;
      .arrows {
        align-content: center;
        display: flex;
        font-size: 1.6rem;
        padding-left: 0.4rem;
        padding-top: 0.15rem;
      }
      /** Start :hover state for card link **/
      &:hover {
        background-color: $green-b;
        border-color: $green-s5;
        color: $eig;
        .arrows {
          transform: translateX(0.8rem);
          transition: all ease-in-out 500ms;
        }
      }
      /** End :hover state for card link **/
    }
  }
  /** End formatting of card link **/
}
/** End Home page card **/

/** Start inverted Home page card **/
.card_inverted {
  /** Start :hover state for inverted Home page card **/
  &:hover {
    border: 2px dashed $blue-b;
    .card_details {
      .card_cta {
        color: $blue-b;
        .arrows {
          color: $blue-b;
        }
      }
    }
    /** End :hover state for inverted Home page card **/
  }
  .card_image {
    img {
      border: 8px solid $blue-b;
      padding: 0.4rem;
    }
  }
  .card_details {
    .card_cta {
      &:hover {
        background-color: $blue-b;
        border-color: $blue-s5;
        color: $eig;
        .arrows {
          color: $eig;
        }
      }
      border-color: $blue-b;
    }
  }
} /** End inverted Home page card **/

@media (min-width: 768px) {
  /** Start .card @ 768px **/
  .card {
    align-items: center;
    display: grid;
    grid-template-areas: "ci cd";
    padding: 4.8rem;
    &:hover {
      transform: translateX(2rem);
    }
    .card_image {
      display: grid;
      grid-area: ci;
      img {
        align-self: start;
        margin-bottom: 0;
      }
    }
    .card_details {
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      grid-area: cd;
      margin-left: 3.2rem;
      margin-right: 0;
      text-align: left;
      .card_cta {
        align-self: flex-start;
      }
    }
  }
  .card_inverted {
    grid-template-areas: "cd ci";
    &:hover {
      transform: translateX(-2rem);
    }
    .card_image {
      display: flex;
      align-items: center;
      grid-area: ci;
      padding-right: 0;
      img {
        display: flex;
        justify-self: flex-end;
      }
    }
    .card_details {
      margin-left: 0;
      margin-right: 3.2rem;
    }
  }
}

/** End HOME page **/
