/**********************
  HOME PAGE

  1.0 - .card
    1.1 - .card .card__image
    1.2 - .card .card__text
      1.2.1 - .card .card__text h2
      1.2.2 - .card .card__text .card__cta

  1h.0 - .card:hover
    1h.1 - .card:hover .card__text
      1h.1.1 - .card:hover .card__text h2
      1h.1.2 - .card:hover .card__text p
      1h.1.3 - .card:hover .card__text .card__cta

  1g.0 - .card(g)
    1g.1 - .card(g) .card__image
    1g.2 - .card(g) .card__text
      1g.2.1 - .card(g) .card__text h2
      1g.2.2 - .card(g). card__text .card__cta
      1g.2.2h - .card(g). card__text .card__cta:hover
        1g.2.2h.1 - .card(g) .card__text .card__cta:hover .card__cta__arrows
  
  1gh.0 - .card(g):hover
    1gh.1 - .card(g):hover .card__text
      1gh.1.1 - card(g):hover .card__text .card__cta
        1gh.1.1.1 - card(g):hover .card__text .card__cta .card__cta__arrows

  1b.0 - .card(b)
    1b.1 - .card(b) .card__image
    1b.2 - .card(b). card__text
      1b.2.1 - .card(b) .card__text h2
      1b.2.2 - card(b) .card__text .card__cta
      1b.3h - card(b). card__text .card__cta:hover
        1b.3h.1 - card(b) .card__cta:hover .card__cta__arrows

  1bh.0 - .card(b):hover
    1bh.1 - .card(b):hover .card__text
      1bh.1.1 - .card(b):hover .card__text .card__cta
        1bh.1.1.1 - card(b):hover .card__text .card__cta .card__cta_arrows

**********************/

/* 1.0 */
.card {
  align-items: center;
  background-color: $eig-t9;
  border: 2px dashed $eig-t8;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 4.8rem 0;
  padding: 6.4rem 2.4rem;
  transition: 1s all ease;

  &:last-of-type {
    /** This is applied to push footer down **/
    margin-bottom: 12rem;
  }

  /* 1.1 */
  .card__image {
    img {
      border-radius: 1.6rem;
      height: auto;
      margin-bottom: 2.4rem;
      padding: 0.4rem;
      max-width: 100%;
    }
  }
  /* 1.2 */
  .card__text {
    display: flex;
    flex-direction: column;
    /* 1.2.1 */
    h2 {
      :before,
      :after {
        line-height: 1em;
      }
    }
    /* 1.2.2 */
    .card__cta {
      align-self: center;
      background-color: transparent;
      border-radius: 1.6rem;
      color: $eig;
      display: flex;
      font-size: 1.6rem;
      justify-content: center;
      line-height: 1em;
      margin-top: 1.6rem;
      padding: 2.4rem 3.2rem;
      text-decoration: none;
      transition: 1s all ease-in-out;
      .card__cta__arrows {
        color: $eig;
        font-size: 1.8rem;
        line-height: 0.8em;
        padding-left: 0.4rem;
        padding-top: 0.15rem;
      }
      &:hover {
        color: $eig;
        .card__cta__arrows {
          color: $eig;
          transform: translateX(0.8rem);
          transition: all ease-in-out 500ms;
        }
      }
    }
  }
  /* 1h.0 */
  &:hover {
    background-color: $eig-t1;
    transition: all ease-in 1s;
    /* 1h.1 */
    .card__text {
      /* 1h.1.1 */
      h2 {
        color: $eig-t9;
      }
      /* 1h.1.2 */
      p {
        color: $eig-t9;
      }
      /* 1h.1.3 */
      .card__cta {
        color: $eig;
        &:hover {
          color: $eig;
          .card__cta__arrows {
            color: $eig;
          }
        }
      }
    }
  }

  /* 1g.0 */
  &:nth-child(odd) {
    /* 1g.1 */
    .card__image {
      img {
        align-self: flex-start;
        border: 8px solid $green-b;
      }
    }
    /* 1g.2 */
    .card__text {
      /* 1g.2.1 */
      h2:before,
      h2:after {
        color: $green-b;
      }
      /* 1g.2.2 */
      .card__cta {
        border: 3px solid $green-b;
        /* 1g.2.2h */
        &:hover {
          background-color: $green-b;
          border: 3px solid $green-s5;
        }
      }
    }
    /* 1gh.0 */
    &:hover {
      border: 2px dashed $green-b;
      /* 1gh.1 */
      .card__text {
        /* 1gh.1.1 */
        .card__cta {
          color: $green-b;
          .card__cta__arrows {
            color: $green-b;
          }
          &:hover {
            color: $eig;
            /* 1gh.1.1.1 */
            .card__cta__arrows {
              color: $eig;
            }
          }
        }
      }
    }
  }

  /*1b.0 */
  &:nth-child(even) {
    /* 1b.1 */
    .card__image {
      img {
        align-self: flex-end;
        border: 8px solid $blue-b;
      }
    }
    /* 1b.2 */
    .card__text {
      /* 1b.2.1 */
      h2:before,
      h2:after {
        color: $blue-b;
      }
      /* 1b.2.2 */
      .card__cta {
        border: 3px solid $blue-b;
        /* 1b.3h */
        &:hover {
          background-color: $blue-b;
          border-color: $blue-s5;
          color: $eig;
          /* 1b.3h.1 */
          .card__cta__arrows {
            color: $eig;
          }
        }
      }
    }
    /* 1bh.0 */
    &:hover {
      border: 2px dashed $blue-b;
      /* 1bh.1 */
      .card__text {
        /* 1bh.1.1 */
        .card__cta {
          color: $blue-b;
          .card__cta__arrows {
            color: $blue-b;
          }
          &:hover {
            color: $eig;
            /* 1bh.1.1.1 */
            .card__cta__arrows {
              color: $eig;
            }
          }
        }
      }
    }
  }
}

/* @768px > */

@media (min-width: 768px) {
  /* 1.0 */
  .card {
    align-items: center;
    display: grid;
    padding: 4.8rem;
    &:first-of-type {
      margin-top: 4rem;
    }
    /* 1.1 */
    .card__image {
      display: flex;
      grid-area: ci;
      img {
        margin-bottom: 0;
      }
    }
    /* 1.2 */
    .card__text {
      display: flex;
      grid-area: cd;
      justify-content: flex-start;
      margin-left: 0;
      margin-right: 4rem;
      text-align: left;
      /* 1.2.2 */
      .card__cta {
        align-self: flex-start;
      }
    }
    /* 1g.0 */
    &:nth-child(odd) {
      grid-template-areas: "ci cd";
      /* 1gh.0 */
      &:hover {
        transform: translateX(2rem);
      }
      /* 1gh.1 */
      .card__text {
        margin-left: 4rem;
        margin-right: 0;
      }
    }

    /* 1b.0 */
    &:nth-child(even) {
      grid-template-areas: "cd ci";
      /* 1bh.0 */
      &:hover {
        transform: translateX(-2rem);
      }
    }
  }
}

/** End HOME page **/
