@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/** Globally set base font size, font family and weight **/
* {
  font-size: 10px;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
}

/** Globally set paragraph and internal links, within <p> tags **/
p {
  color: $eig;
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 1.6rem;
  a {
    border-bottom: 1px dashed $eig-t3;
    color: $eig;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    transition: 1s all ease;
    &:hover {
      background-color: $blue-t1;
    }
  }
}

/** Headings **/
h1,
h2,
h3,
h4 {
  &.heading__main-green {
    align-self: center;
    background-color: $green-b;
    border-bottom: 10px solid $green-s3;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-bottom: 4.8rem;
    margin-top: 20rem;
    padding: 1.6rem 2.4rem;
    text-transform: uppercase;
  }
  &.heading__main-blue {
    background-color: $blue-t4;
    border-bottom: 10px solid $blue-s4;
    color: $blue-s7;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin: 2.4rem auto 4.8rem auto;
    padding: 2.4rem;
  }
  &.heading__home__card {
    border: none;
    color: $eig-t1;
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1em;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    width: 100%;
    &:before,
    &:after {
      font-size: 3.2rem;
      font-weight: 700;
    }
    &:before {
      content: "<";
      padding-right: 0.8rem;
    }
    &:after {
      content: ">";
      padding-left: 0.8rem;
    }
    .heading__arrows-blue {
      color: $blue-b;
    }
    .heading_arrows-green {
      color: $green-b;
    }
  }
}

@media (min-width: 600px) {
  h1,
  h2,
  h3,
  h4 {
    &.heading__main-green {
      margin-top: 12rem;
    }
  }
}

@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4 {
    &.heading__main-green {
      align-self: flex-start;
      font-size: 3.2rem;
      margin-top: 6rem;
    }
    &.heading__main-blue {
      font-size: 2.4rem;
      margin: 4.8rem auto 2.4rem auto;
    }
    &.heading__home__card {
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      justify-content: flex-start;
      letter-spacing: -0.2rem;
      &:before,
      &:after {
        font-size: 2em;
        font-weight: 700;
      }
      &:before {
        padding-right: 0.8rem;
      }
      &:after {
        padding-left: 0.8rem;
      }
    }
  }
}

@media (min-width: 1080px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.heading__home__card {
      font-size: 4rem;
      letter-spacing: 0;
      font-weight: 700;
    }
  }
}
