@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

/** Globally set base font size, font family and weight **/
* {
  font-size: 10px;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 400;
}

/** Globally set paragraph tag font size **/
p {
  color: $eig;
  font-size: 1.6rem;
  line-height: 1.6em;
  margin-bottom: 1.6rem;
  a {
    border-bottom: 1px dashed $eig-t3;
    color: $eig;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    transition: 1s;
    &:hover {
      background-color: $blue-t1;
    }
  }
}

/** Headings **/
h1,
h2,
h3 {
  &.heading_standard {
    align-self: center;
    background-color: $blue-t2;
    border-bottom: 10px solid $blue-s1;
    color: $blue-s7;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
    padding: 2.4rem;
    text-transform: uppercase;
  }
  &.heading_big-green {
    align-self: center;
    background-color: $green-b;
    border-bottom: 4px solid $green-s1;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-bottom: 4.8rem;
    margin-top: 16rem;
    padding: 1.6rem 2.4rem;
    text-transform: uppercase;
  }
  &.heading_card {
    border: none;
    color: $eig-t1;
    font-size: 1.6rem;
    font-weight: 700;
    /* Set line height to 1em to allow arrows to vertically align with text */
    line-height: 1em;
    margin-bottom: 2.4rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
    width: 100%;
    &:before,
    &:after {
      color: $green-b;
      font-size: 3.2rem;
      font-weight: 700;
    }
    &:before {
      content: "<";
      padding-right: 0.8rem;
    }
    &:after {
      content: ">";
      padding-left: 0.8rem;
    }
    &.hc_inverted {
      &:before,
      &:after {
        color: $blue-b;
      }
    }
  }
  &.heading_skill {
    align-self: flex-start;
    color: $eig-t1;
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 0;
  }
  &.heading_portfolio-example {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    &.heading_standard {
      font-size: 2.4rem;
      margin-left: 3.2rem;
      text-transform: inherit;
      &.example_heading {
        margin: 0 auto 2.4rem auto;
      }
    }
    &.heading_big-green {
      align-self: flex-start;
      font-size: 3.2rem;
      margin-top: 6rem;
    }
    &.heading_card {
      display: flex;
      font-size: 2.4rem;
      font-weight: 700;
      /* The below moves the heading to the start of the main axis */
      justify-content: flex-start;
      letter-spacing: -0.2rem;
      &:before,
      &:after {
        font-size: 2em;
        font-weight: 700;
      }
      &:before {
        padding-right: 0.8rem;
      }
      &:after {
        padding-left: 0.8rem;
      }
    }
  }
}

@media (min-width: 1080px) {
  h1,
  h2,
  h3 {
    &.heading_card {
      font-size: 4rem;
      letter-spacing: 0;
      font-weight: 700;
    }
  }
}
