.header__logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 0 0 0;
  @media (min-width: 900px) and (orientation: landscape) {
    padding: 10.4vh 0 4rem 0;
  }
  a {
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    @media (min-width: 900px) {
      letter-spacing: 0.32vw;
    }
    img {
      border: none;
      width: 72px;
      @media (min-width: 900px) {
        width: 84px;
      }
      @media (min-width: 1200px) {
        width: 100px;
      }
      @media (min-width: 1500px) {
        width: 100px;
      }
    }
  }
}
