@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Source+Sans+Pro:wght@200;400;700&display=swap");

:root {
  /** Colours **/
  --clr-eigengrau: hsla(240, 14%, 10%, 1);
  --clr-eigengrau-alt: hsla(240, 14%, 15%, 1);
  --clr-eigengrau-light: hsla(240, 12%, 88%, 1);
  --clr-grey-very-light: hsla(0, 0%, 87%, 1);
  --clr-goldenrod: hsla(43, 74%, 49%, 1);
  --clr-goldenrod-dark: hsla(43, 74%, 49%, 0.5);
  --clr-white: hsla(0, 0%, 100%, 1);
  /** Fonts **/
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: Montserrat, sans-serif;
  --fs-initial: 10px;
  /** Debugging tools **/
  --debug-red: 1px solid red;
  --debug-orange: 1px solid orange;
  --debug-green: 1px solid green;
}

.debug { border: 1px solid red;}