header {
  border-bottom: 2px solid #232323;
  grid-area: header;
  justify-content: space-around;
  padding-bottom: 3vh;
  padding-top: 2vh;
}

.logo,
.main-nav,
.contact-btn {
  padding: 1.6rem 0;
}

/** Logo **/
.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: var(--clr-white);
    font-size: 2.4vh;
    font-weight: 700;
    text-decoration: none;
    text-transform: lowercase;
    @media (min-width: 600px) {
      font-size: 4vh;
    }
  }
  p {
    font-size: 1.2vh;
    @media (min-width: 600px) {
      font-size: 1.6vh;
    }
  }
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      align-items: center;
      display: flex;
      list-style-type: none;
      a {
        align-items: center;
        border-right: 1px solid var(--clr-goldenrod-dark);
        color: var(--clr-goldenrod);
        display: flex;
        flex-direction: column;
        font-weight: 700;
        letter-spacing: 0.08rem;
        padding: 0.8rem 2rem;
        text-decoration: none;
        text-transform: uppercase;
        transition-property: border-bottom;
        transition-duration: 1s;
        &:hover {
          background-color: var(--clr-eigengrau);
        }
        &:last-of-type {
          border-right: 0;
        }
        @media (min-width: 600px) {
          border-bottom: 4px solid transparent;
          border-right: 0;
          &:hover {
            background-color: #16161d;
            border-bottom: 4px solid goldenrod;
          }
        }
        > * {
          margin-bottom: 0.8rem;
          font-size: 2.4vw;
          @media (min-width: 600px) {
            font-size: 1.2vw;
          }
        }
      }
    }
  }
}

.contact-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-decoration: none;
    button {
      background: transparent;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 2px dotted var(--clr-goldenrod);
      color: var(--clr-grey-very-light);
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: 0.12rem;
      padding-bottom: calc(1vh * 2);
      padding-left: calc(1vh * 4);
      padding-right: calc(1vh * 4);
      padding-top: calc(1vh * 2);
      transition-property: padding-left, padding-right;
      transition-duration: 1s;
      text-transform: lowercase;
      &:hover {
        background-color: #dedede;
        border-bottom: 2px solid #dedede;
        color: #16161d;
        padding-left: calc(1vh * 8);
        padding-right: calc(1vh * 8);
      }
    }
  }
}
