header {
  border-bottom: 1px solid var(--clr-eigengrau-alt);
  grid-area: header;
  justify-content: space-around;
  padding-bottom: 0.6vh;
  padding-top: 0.6vh;
  width: 100%;
  @media (min-width: 900px) {
    border-bottom: none;
    height: 100%;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    padding-bottom: 0;
    top: 0;
    width: 200px;
  }
  @media (min-width: 1200px) {
    width: 300px;
  }
}
/** Logo **/
.logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 0 0 0;
  @media (min-width: 900px) and (orientation: landscape) {
    padding: 10.4vh 0 4rem 0;
  }
  a {
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    @media (min-width: 900px) {
      letter-spacing: 0.32vw;
    }
    img {
      width: 72px;
      @media (min-width: 900px) {
        width: 84px;
      }
      @media (min-width: 1200px) {
        width: 100px;
      }
      @media (min-width: 1500px) {
        width: 100px;
      }
    }
  }
}
/** Navigation **/
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenlysas;
  padding: 1rem 0 0 0;
  @media (min-width: 900px) {
    height: 100%;
    padding: 0;
  }
  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    @media (min-width: 900px) {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      width: 100%;
    }
    li {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style-type: none;
      @media (min-width: 900px) {
        height: 100%;
        width: 100%;
      }
      a {
        align-items: center;
        background-color: transparent;
        border-right: 1px solid var(--clr-goldenrod);
        color: white;
        display: flex;
        flex-direction: column;
        font-size: clamp(0.72rem, 2vw, 0.92rem);
        font-weight: 400;
        justify-content: center;
        letter-spacing: 0.08rem;
        padding: 1.2rem 0.64rem;
        text-decoration: none;
        text-transform: lowercase;
        .goldenrod {
          color: var(--clr-goldenrod);
          font-size: clamp(0.84rem, 2.4vw, 1rem);
          margin-bottom: 0.25rem;
        }
        &:last-of-type {
          border-right: 0;
        }
        @media (min-width: 600px) {
          &:hover {
            background-color: var(--clr-eigengrau-alt);
          }
        }
        @media (min-width: 900px) {
          border-left: 10px solid transparent;
          border-top: 1px solid var(--clr-eigengrau-alt);
          border-right: 0;
          height: 100%;
          flex: 1 1 0px;
          padding: clamp(1rem, 5vh, 4rem);
          transition-property: border-left;
          transition-duration: 1s;
          width: 100%;
          &:hover {
            border-left: 10px solid var(--clr-goldenrod);
          }
        }
      }
    }
  }
}

.contact-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem 0;
  a {
    text-decoration: none;
    button {
      background: transparent;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 2px dotted var(--clr-goldenrod);
      color: var(--clr-grey-very-light);
      cursor: pointer;
      font-size: 1rem;
      letter-spacing: 0.12rem;
      padding-bottom: calc(1vh * 2);
      padding-left: calc(1vh * 4);
      padding-right: calc(1vh * 4);
      padding-top: calc(1vh * 2);
      transition-property: padding-left, padding-right;
      transition-duration: 1s;
      text-transform: lowercase;
      &:hover {
        background-color: #dedede;
        border-bottom: 2px solid #dedede;
        color: #16161d;
        padding-left: calc(1vh * 8);
        padding-right: calc(1vh * 8);
      }
    }
  }
}
