@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  @apply bg-slate-900;
}

a {
  color: inherit;
  text-decoration: none;
}



@layer components {

/* Utility Class */
.dvh-full {
  height: 100dvh;
  height: 100vh;
}

  /* Resource Links */
  .resource-link {
    @apply flex flex-col items-center justify-center rounded-lg p-4 gap-4 border border-gray-700 bg-gray-900 text-gray-400 transition-all hover:drop-shadow-sm;
  }
  .resource-link:hover {
    @apply bg-gray-800;
  }

  /* Sidebar */
  .sidebar {
    @apply lg:min-h-screen lg:h-screen lg:max-h-screen lg:fixed lg:top-0 lg:w-[calc(100%/12)];
  }
  .sidebar li { 
    @apply border-b border-r border-gray-600;
  }
  .sidebar li:last-of-type {
    @apply border-b-0;
  }
  .sidebar svg {
    @apply stroke-1 stroke-gray-600 fill-gray-600;
  }
  .sidebar img {
    @apply h-8 w-8;
  }
}