.my-code {
  align-content: start;
  display: flex;
  flex-direction: column;
  padding: 0 12vw;
  @media(min-width:900px){
    padding: 0 6vw; 
  }
  p {
    text-align: left;
  }
  code {
    background-color: var(--clr-eigengrau-alt);
    border-radius: 0.4rem;
    display: block;
    font-size: 0.8rem;
    margin-top: 1.2vh;
    margin-bottom: 2.4rem;
    max-width: 100%;
    padding: 2vh 0.3vw;
    text-align: left;
  }
}
.code-snippet {
  align-self: start;
  border: 2px solid var(--clr-eigengrau-alt);
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1rem;
  padding: 1rem;
}
.my-code-language {
  margin-bottom: 5vh;
}

.my-code-language-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}