.my-code {
  padding: 0 12vw;
  p {
    text-align: left;
  }
  code {
    background-color: var(--clr-eigengrau-alt);
    border-radius: 0.4rem;
    display: block;
    font-size: 0.8rem;
    margin-top: 1.2vh;
    margin-bottom: 2.4rem;
    padding: 2vh 3.2vw;
    text-align: left;
  }
}
