.my-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: 100%;
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 1.2rem 0 2.4rem 0;
  }
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 1200px;
  }
}
.project {
  margin-bottom: 3.2rem;
}
.project-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  @media (min-width: 600px) {
    padding-left: clamp(0.8rem, 2vw, 1.2rem);
    padding-right: clamp(0.8rem, 2vw, 1.2rem);
  }
  a {
    text-decoration: none;
    &:hover {
      img {
        border-color: var(--clr-goldenrod-dark);
        margin-top: -1rem;
        opacity: 1;
      }
      .project-name {
        background-color: var(--clr-eigengrau);
        border-color: var(--clr-eigengrau-alt);
        color: var(--clr-goldenrod);
      }
    }
  }
}
.project-inner__image-container {
  margin-bottom: 1rem;
  picture {
    img {
      border-color: var(--clr-eigengrau-alt);
      border-width: clamp(5px, 1vw, 25px);
      border-radius: 0.6rem;
      display: block;
      opacity: 0.8;
      transition: border-color 0.4s ease, margin-top 0.4s ease, opacity 0.4s ease;
      max-width: 80vw;
      @media (min-width: 600px) {
        max-width: 100%;
      }
    }
  }
}
.project-name {
  background-color: var(--clr-eigengrau);
  border: 2px solid var(--clr-eigengrau-alt);
  border-radius: 0.4rem;
  color: var(--clr-grey-very-light);
  color: var(--clr-eigengrau-light);
  display: inline-block;
  font-size: clamp(0.76rem, 1.5vw, 0.84rem);
  font-weight: 500;
  letter-spacing: 0.08rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: lowercase;
  transition: background-color 1s, border-color 1s, color 1s;

}
